build/js
NeoPad
*.aps
*.exe
*.pdb
*.ilk
*.tlog
*.obj
Debug
GeneratedFiles
*.xcf
*.sdf
*.user
*.ipch
/*.opensdf
*.suo
.moc
.rcc
/ui
/.qmake.stash
*.pro.user.*
/*.opendb
*.log
*.pch
Release
Makefile.*
Makefile
*.o
*.a
ui
Outliner/NeoStudio
*.opensdf
*.lib
*.bsc
*.manifest
*.sbr
/Outliner/p_neostudio/build/moc
*.lastbuildstate
*.idb
*.cache
*.res
*.gen
/p_neostudio/build/moc
NeoStudio
*.aps
*.db
/_bin/Releasev100Win32/settings.xml
moc
*.unsuccessfulbuild
*.opendb
Debugv140Win32
/build